$ford-primary-color: hsl(214, 66%, 18%);
$header-color: $ford-primary-color;
$header-height: 60px;
$footer-height: 100px;
$footer-color: $ford-primary-color;
$white: hsl(360, 360, 360);

html,
body {
    padding: 0;
    margin: 0;
    top: 0;
    font-family: "Carme", sans-serif;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 60px;
    text-shadow: 2px 2px 2px #bbb;
}

p {
    text-shadow: 2px 2px 2px #ccc;
}

#header {
    top: 0;
    left: 0;
    font-family: "Anton", sans-serif;
    background-color: $header-color;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-sizing: border-box;
    height: $header-height;

    .brand-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: left;
        height: 100%;
    }

    #header-img {
        width: auto;
        height: 50px;
    }
}


nav {
    float: right;

    ul,
    li {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        box-sizing: border-box;
        float: left;
        height: $header-height;
        width: 100px;
        padding: 20px 10px;
        text-align: center;
        animation: navlink 2s;

        .nav-link {
            color: $white;
            display: inline-block;
            text-decoration: none;
            height: $header-height;
        }

        &:hover {
            background-color: hsl(202, 94%, 38%);
        }
    }
}

section {
    position: relative;
    padding-top: $header-height - 20px;
    padding-bottom: $header-height - 20px;
    min-height: 50px;
}

#video-container {
    div {
        width: 80%;
        margin: auto;
    }

    video {
        width: 100% !important;
        height: auto !important;
    }
}

#overview {
    text-align: center;

    p {
        width: 50%;
        margin: auto;
    }

    img {
        width: 100%;
        height: auto;
    }
}

#gallery {
    text-align: center;

    .card-array {
        display: flex;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        $width: (100% / 4);
        height: $width;
        width: $width;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 3px 3px 5px #aaa;

        img {
            margin: auto;
            display: block;
            width: 100%;
            transition: 0.5s ease-out;
            transform: scale(1, 1);

            &:hover {
                transition: 0.5s ease-in;
                transform: scale(1.5, 1.5);
            }
        }
    }
}

#features {
    text-align: center;
    background-color: hsl(0, 0%, 97%);

    .features-array {
        display: flex;
        width: 80%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 300px;
        height: 200px;
        box-sizing: border-box;
        margin: 10px;
        background-color: $white;
    }

    .card-img {
        overflow: hidden;
        box-sizing: border-box;
        height: 60%;

        img {
            margin: auto;
            width: 100%;
            height: 100%;
        }
    }

    .card-content {
        padding: 20px;
        font-size: 1em;
        font-weight: 600;
        color: hsl(202, 94%, 38%);
        height: 40%;
        box-sizing: border-box;
        box-shadow: 3px 3px 5px #aaa;
    }

    p {
        width: 50%;
        margin: 0;
    }
}

#pricing {
    text-align: center;

    p {
        width: 50%;
        margin: auto;
    }

    #form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 10px auto;
    }

    #form #email {
        border: none;
        background-color: #eee;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
}

#form #submit {
    background-color: $ford-primary-color;
    color: $white;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 10px;
}

#footer {
    height: $footer-height;
    background-color: $footer-color;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 0;

    p {
        text-shadow: none;
        margin: auto;
    }

    @media (max-width: 580px) {
        #video-container div {
            width: 100%;
        }

        #overview p,
        #pricing p {
            width: 90%;
        }

        #gallery .card-array {
            width: 100%;
        }
    }
}